<div class="container-fluid">
    <h2>Child Component</h2>
    <h3>{{msg}}</h3>
    <button (click)="register()">Register</button>

    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
            <div class="form-group">
                <label for="id">Course Id</label>
                <input placeholder="Enter Id" [(ngModel)]="course.courseId" name="id" #id="ngModel" required
                    class="form-control">
                <div [hidden]="id.valid || id.pristine" class="alert alert-danger">Course Id is required</div>
            </div>
            <div class="form-group">
                <label for="id">Course Name</label>
                <input placeholder="Enter Name" [(ngModel)]="course.courseName" name="name" #name="ngModel" required
                    class="form-control">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Course Name is required</div>
            </div>
            <div class="form-group">
                <label for="id">Course Duration</label>
                <input placeholder="Enter Duration" [(ngModel)]="course.duration" name="duration" #duration="ngModel" required
                    class="form-control">
                <div [hidden]="duration.valid || duration.pristine" class="alert alert-danger">Course Duration is required</div>
            </div>
            <button type="submit" [disabled]="!courseForm.form.valid" class="btn btn-primary">Submit</button>
            <button type="button" (click)="courseForm.reset()" class="btn btn-warning">Reset</button>
        </form>
    </div>
    <div [hidden]="!submitted">
        {{course.courseId}} - {{course.courseName}} - {{course.duration}}
        <button (click)="submitted=false" class="btn btn-primary">Edit</button>
    </div>
</div>